/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

.heading{
  background-color:#FFDBAA;
}

#pr{
  color: #553100;
  margin: 20px;
  display: inline-block;
  /* margin-right: auto; */
}

.head{
  margin: 5px 15px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #805215;
  color: white;
  font-weight: bold;
  width: 100px;
  height: 50px;
  float: right;
}

.body{
  background-color: #D4A76A;
}

.mdsq{
  /* display: inline-block; */
}

.sqtit{
  text-align: center;
}

.sqtxt{
  text-align: center;
}

.botbut{
  width: 190px;
  height: 50px;
  color: white;
  background-color: #805215;
  margin-left: 80px;
}

.botbut2{
  width: 190px;
  height: 50px;
  color: white;
  background-color: #805215;
  margin-left: 0px;
  align-items: center;

}

.square{
  background-color: white;
  width: 350px;
  height: 200px;
  box-shadow: 10px 10px black;
  display: inline-block;
  margin: 0px 20px;
}

.square2{
  background-color: white;
  width: 1200px;
  height: 225px;
  box-shadow: 10px 10px black;
  margin: 0px 20px;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}